<ul>
	<li>
		<div class="row-fluid">
			<div class="span12"><legend>News</legend></div>
			<% 2.times do %>
			<div class="row-fluid">
				<% 3.times do %>
				 <div class="margin-bottom-20 span4 bg-white">
				 		<ul>
				 			<li><h1>title</h1>
				 				<ul>
						 		<li><%= image_tag("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSG6HY8KUBXEMeKjdW32OoseH-NotWp5NNh4uSQuoOvE3_1TvyK7w", :style => "min-width:100%")%></li>
						 		<li><h4>TEST</h4></li>
				     		<li><p class="info-line"><span>99 views</span> : <span>99 coments</span> | <span>by MUI</span></p></li>
						 		</ul>
				 			</li>
				 		</ul>
				 </div>
				 <% end %>
			</div>
			<% end %>
		  <div class="span12 margin-left-0">
		  	<div class="pull-right"><h5>News : Read all </h5></div>
			</div>
		</div>
	</li>
</ul>
