<!DOCTYPE html>
<html>
<head>
  <title>Tabletbkk</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="body" class="row">
  <div class="span12">
  	<%= yield %>
  </div>
</div>


</body>
</html>
